<router-outlet>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item" *ngIf="!isLogged">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
          <ng-container *ngIf="isLogged">
            <li class="nav-item">
              <a class="nav-link" routerLink="/lifecycle-hooks"
                >Lifecycle-hooks</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/decorators">Decorators</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/pipes">Pipes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/employee">Routing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/services">Service</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/template-form">Template Form</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/reactive-form">Reactive Form</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/observables">Observables</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/rxjs-operators">RxJs Operators</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/http">Http Calls</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/crud">Simple CRUD</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/todo">ToDo Signals</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/cart">Cart Signals</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="logout()">Logout</a>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </nav>
</router-outlet>
