html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
}
.navbar {
  z-index: 1;
}
.nav-link {
  cursor: pointer;
}
